<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    <typeAliases>
        <package name="com.aykwon.peakdifference.maxpointdiff" />
        <typeAlias type="com.aykwon.peakdifference.maxpointdiff.model.Point" alias="Point" />
    </typeAliases>

    <mappers>
        <mapper resource="mapper/point-mapper.xml" />
    </mappers>
</configuration>
